body{
      
    margin: 0;
    height: 100vh;
    padding: 0;
    color: black;
    background-image: url(http://www.transparenttextures.com/patterns/subtle-freckles.png);
    background-color: #403F48;
    font-size: medium;   
}
.alpha{
    height: 1em;
    
}
.beta{
    height: 5em;
    padding-top: 1%;
    padding-bottom: 1%;
   
    
}
.gamma{
    height: 2em;
    
}
.jumbotron{
    background-image: url(https://images.unsplash.com/photo-1513194241688-889833b64074?auto=format&fit=crop&w=1189&q=80);
    height: 45em;
    
    background-size: cover;
    text-align: left;
}

.epsil{
    background-color: white;
}

.zeta{
    height: 25em;
    background-color: white;    
}   
.theta{
    padding: 4%;
}

.logo{
    height: 4em;
    width: 5em;
        
}
.fa{
    color: black;   
}
.navbar{
    background-color: transparent;
    display: inline-block; 
    border: 0px;  
    
}

    
    
    

